<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
	<title>Admin</title>
        <link rel="stylesheet" href="/css/admin3.css">
    </head>
    <body>
    <img src= "/header.png" alt= "logo" >
        <div class="blue"><TT>LOGGED IN AS: ADMIN</TT><span><a href="/autha/adminLogout">LOG OUT</a></span></div>
        <div class="box">
        <div class="sem1"><b><u> First SEM <br></u></b>Total registrations : {{sem1}} <br> Pending :{{pendingSem1}} students 
           <div class="course"> Course 1 - 9 students<br>
            Course 2 - 5 students<br>
            Course 3 - 5 students<br>
            Course 4 - 8 students<br>
            Course 5 - 5 students<br></div></div>
         <div class="sem3"><b><u> Third Sem <br></u></b>Total registrations : {{sem3}} <br> Pending :{{pendingSem3}} students   <div class="course"> Course 1 - 1 students<br>
            Course 2 - 1 students<br>
            Course 3 - 0 students<br>
            Course 4 - 0 students<br>
            Course 5 - 1 students<br></div></div>
         <div class="sem5"><b><u> Fifth Sem <br></u></b>Total registrations : {{sem5}} <br> Pending :{{pendingSem5}} students   <div class="course"> Course 1 - 0 students<br>
            Course 2 - 0 students<br>
            Course 3 - 0 students<br>
            Course 4 - 0 students<br>
            Course 5 - 0 students<br></div></div>
         <div class="sem7"><b><u> Seventh Sem <br></u></b>Total registrations : {{sem7}} <br> Pending :{{pendingSem7}} students   <div class="course"> Course 1 - 0 students<br>
            Course 2 - 0 students<br>
            Course 3 - 0 students<br>
            Course 4 - 0 students<br>
            Course 5 - 0 students<br></div></div>
         </div>
         <footer id="footer">
    <p class="about">B.M.S. College of Engineering (BMSCE) was Founded in the year 1946 by Late Sri. B. M. Sreenivasaiah a great visionary and philanthropist and nurtured by his illustrious son Late Sri. B. S. Narayan. BMSCE is the first private sector initiative in engineering education in India. BMSCE has completed 70+ years of dedicated service in the field of Engineering Education.<a href="https://bmsce.ac.in/home/About-BMSCE">Know More</a></p>
    <h3>Contact Us</h3>
    <ul class="contact-us">
        <li><strong>Address:</strong>
        <br /> P.O. Box No.: 1908, Bull Temple Road,
        <br /> Bangalore - 560 019
        <br />Karnataka, India.
        </li>
        <li><strong>Fax:</strong>
            <br />+91-80-26614357
        </li>
        <li><strong>Email:</strong>
        <br /><a href="mailto:mail@example.com">info@bmsce.ac.in</a>
        </li>
    </ul>
    <div id="icons">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"> </i></a>
    <a href="https://www.facebook.com/bmsce.official"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQENGHT1TgwK7QAAAXZq5KygBlHnGUtHSItHhXmvxk5TeadeZBSQHIHtyhl5QHsmVbUgh13F-Qd4FNtCMIyF5lmkZBN0WZQSjZ95rBzmFWoYbRpyvx9cbyeqQzfCO5Qm9Z8Fqk8=&originalReferer=https://bmsce.ac.in/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbmsce-official%2F"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="Copyright"><p>© Copyright 2019. All Rights Reserved.</p></div>
</footer>
</body>